<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DEP DataMasters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>DEP DataMasters</h1>
        <nav>
            <a href="#mission"><b>Mission</b></a>
            <a href="#vision"><b>Vision</b></a>
            <a href="#values"><b>Core Values</b></a>
            <a href="#offer"><b>What We Offer</b></a>
            <a href="#whatnot"><b>What Not</b></a>
            <a href="#join"><b>Join Us</b></a>
            <a href="#connect"><b>Let's Connect</b></a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 <a href="https://www.linkedin.com/in/katherinebulac/" target="_blank">Katherine Bulac</a></p>
    </footer>
</body>
</html>
